@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/hahmlet/300.css";

body {
    @apply text-gray-700;
}

h1 {
    font-family: "Hahmlet";
}

.article h3 {
    @apply font-bold;
}

.article code {
    @apply tracking-normal font-mono text-sm px-2;
}

.article dt {
    @apply font-bold;
}

.article dd {
    @apply ml-4;
}

.article ul {
    @apply list-inside list-disc;
}

.article .content a {
    @apply text-red-700;
}

pre {
    @apply relative text-sm;
}

.prism-code {
    @apply p-2 pr-0 overflow-y-auto tracking-normal font-mono;
    width: calc(100% - 0.5rem);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.prism-code::after {
    content: "";
    background-color: #f6f8fa;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    @apply w-2 absolute right-0 top-0 block h-full;
}